<%= content_for :page_header do %>

<% end %>

<div class="col-lg-12">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        User registration
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
