<% if @other_exams_mark.new_record? %>
    <%= form_tag addition_admin_other_exams_marks_path, method: :post do |f| %>
        <table>
          <tbody>
          <% OtherExam.all.each_with_index do |exam, index| %>
              <tr>
                <td>
                  <%= label_tag exam.title %>
                </td>
                <td>
                  <%= text_field_tag "exam_mark_attributes[#{index}][#{:point}]", exam.get_mark(params[:candidate_id]) %>
                </td>
                <td>
                  <%= hidden_field_tag "exam_mark_attributes[#{index}][candidate_id]", params[:candidate_id] %>
                </td>
                <td>
                  <%= hidden_field_tag "exam_mark_attributes[#{index}][other_exam_id]", exam.id %>
                </td>
              </tr>
          <% end %>
          <tr>
            <td></td>
            <td><%= submit_tag 'Save Marks' %></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
    <% end %>
<% else %>
    <%= form_for @other_exams_mark, url: admin_other_exams_mark_path(@other_exams_mark), method: :put do |f| %>
        <table>
          <tbody>
          <tr>
            <td>
              <strong><%= f.label 'Candidate' %></strong>
            </td>
            <td>
              <%= @other_exams_mark.candidate.email %>
              <%= f.hidden_field :candidate_id %>
            </td>
          </tr>
          <tr>
            <td>
              <strong><%= f.label 'Exam Name' %></strong>
            </td>
            <td>
              <%= @other_exams_mark.other_exam.title %>
              <%= f.hidden_field :other_exam_id %>
            </td>
          </tr>
          <tr>
            <td>
              <strong><%= f.label :point %></strong>
            </td>
            <td>
              <%= f.text_field :point %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit 'Update exam mark' %>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
<% end %>