<table>
  <thead>
  <th>Exam</th>
  <th>Marks</th>
  <th>Action</th>
  </thead>
  <tbody>
  <% @candidate.model_tests.each do |test| %>
      <tr>
        <td><%= test.exam.title  %></td>
        <td><%= test.total_marks  %></td>
        <td></td>
      </tr>
  <% end %>
  <% @candidate.other_exams_marks.each do |ot_exam_marks| %>
      <tr>
        <td><%= ot_exam_marks.other_exam.title  %></td>
        <td><%= ot_exam_marks.point  %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td><span style="text-align: right;"><b>Total</b></span></td>
    <td><b><%= @candidate.model_tests.sum(:total_marks) +  @candidate.other_exams_marks.sum(:point) %></b></td>
    <td></td>
  </tr>
  </tfoot>
</table>