<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top"> Issb </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'shared/user_profile_menu' %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="/"> Home </a>
        </li>
        <li>
          <a class="page-scroll" href="/exams"> Exam List </a>
        </li>
        <li>
          <a class="page-scroll" href="/about"> About </a>
        </li>
        <li>
          <a class="page-scroll" href="/contact"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>