<% if current_candidate.present? %>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_candidate.email %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to candidate_profile_path do %>
                <i class="fa fa-user"> </i> Profile
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
                <i class="fa fa-archive"></i> Achivements
            <% end %>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i> Settings
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to destroy_candidate_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> Logout
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
<% else %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Signup', new_candidate_registration_path %>
      </li>
      <li>
        <%= link_to 'Login', new_candidate_session_path %>
      </li>
    </ul>
<% end %>