<%= content_for :page_header do %>

<% end %>
<div class="col-lg-12">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Log in
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label :password %><br/>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>

            <div class="actions form-group clearfix">
              <%= f.submit "Log in", :class => 'btn btn-default pull-right' %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
