// Place all the styles related to the exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exam-list, .subject-list {
  list-style: none;
  margin: 0;
  padding: 0;
  h3 {
    margin: 0;
  }
  li {
    //display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    a {
      background-color: #74cee4;
      -webkit-box-shadow: 0 4px 0 0 #6fc4d9;
      -moz-box-shadow: 0 4px 0 0 #6fc4d9;
      box-shadow: 0 4px 0 0 #6fc4d9;
      display: block;
      padding: 15px 10px;
      color: #ffffff;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        color: #dfdfdf;
      }
    }
  }
  li:nth-child(3n + 1) {
    clear: both;
  }
}

.exam-content {
  padding-bottom: 20px;
  min-height: 400px;
}

.question-box {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(255, 255, 255, 1) inset;
  display: block;
  margin: 0 10px;
  padding: 10px 20px 0;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

.questions {
  background: #007fbe none repeat scroll 0 0;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  margin: -10px -21px 10px;
  padding: 8px 10px;
  position: relative;
  span {
    text-indent: 20px;
  }
}

.answer-list {
  padding: 0 0 0 10px;
  li {
    padding: 5px 0;
    label {
      border: 1px solid #dde7e8;
      border-radius: 6px;
      cursor: pointer;
      display: block;
      font-family: Arial,sans-serif;
      font-size: 13px;
      font-weight: 400;
      padding: 6px;
      &:hover {
        background: #F2FAFB;
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0;
}
.question-list {
  display: none;
}

.table th, .table td {
  border-top: none !important;
  border-left: none !important;
}
