// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: rgba(225, 225, 225, 0.3) none repeat scroll 0 0
}

.exam-header {
  margin-bottom: 15px;
  text-align: center;

}

.common-header {
  background-image: asset-url('page_header.jpeg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 145px 0 40px;
  .header-bg {
    display: inline-block;
    background: #F05F40;
    padding: 7px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fdfdfd;
  }
}
