<%= content_for :page_header do %>
<% end %>
<div class="exam-content">
  <% if @exams.present? %>
      <ul class="exam-list col-lg-12">
        <% @exams.each do |exam| %>
                <li class="exam-item col-md-4">
                  <%= link_to exam_path(exam) do %>
                      <h3> <%= exam.title %> </h3>
                      <%= exam.description %>
                  <% end %>
                </li>
        <% end %>
      </ul>
    <% else %>
  <p>No Exam Assigned to you</p>
   <% end %>
</div>