<%= content_for :page_header do %>
<% end %>
<% if @flag %>
    <p>You have already Complete the exam</p>
<% else %>
<% if @model_test.exam.questions.present? %>
    <div class="col-sm-12 exam-Instruction">
      <li class="question-box">
        <div class="questions">
          <i class="fa fa-info-circle"> </i>
          <span>Exam Instruction </span>
        </div>
        <ul class="answer-list">
            <div class="col-sm-6">
              <div class="col-sm-6">
                Exam : <%= @exam.title %>
              </div>
              <div class="col-sm-6">
                <table class="table  borderless">
                  <tr>
                    <td>Total Question</td>
                    <td><%= @model_test.exam.questions.count  %></td>
                  </tr>
                  <tr>
                    <td>Total Marks</td>
                    <td><%= @model_test.exam.questions.count * 1 %></td>
                  </tr>
                  <tr>
                    <td>Total Time</td>
                    <td>30 minutes</td>
                  </tr>
                </table>
              </div>
            </div>
          <div class="col-sm-6">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </ul>
      </li>
      <div class="col-sm-12 "><%= link_to 'Start Exam',  start_exam_exam_path(@exam), class: 'btn btn-success start-exam pull-right', remote: true %></div>
    </div>
    <div class="col-sm-12 question-list">
      <ul>
        <% @exam.questions.each do |question| %>
            <li class="question-box">
              <div class="questions">
                <i class="fa fa-question-circle"> </i>
                <span> <%= question.title %> </span>
              </div>
              <ul class="answer-list">
                <% question.answers.each do |answer| %>
                    <li>
                      <label for="answer_<%= answer.id %>">
                        <input type="radio" class="my-answer" data-q-id="<%= question.id %>" id="answer_<%= answer.id %>" value="<%= answer.id %>" name="answer_<%= question.id %>">
                        <%= answer.title %>
                      </label>
                    </li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>

      <div class="actions pull-right form-group">
        <%= link_to 'Submit Answer', complete_test_path(@model_test), class: 'btn btn-success',  method: :post %>
      </div>
    </div>
<% end %>
<% end %>




<script type="text/javascript">
    $(function () {
        $('.my-answer').click(function () {
            var element = $(this);
            $.ajax({
                url: "<%= test_answer_path(@model_test.id) %>",
                type: 'post',
                data: {question_id: element.attr('data-q-id'), answer: element.val()},
                success: function() {
                    alert('Go for next');
                }
            })
        });

    })


</script>